@charset "utf-8";

/* fonts import */
@import url();

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff; font-family: 'Helvetica', sans-serif;}

/* wrapper */
.wrapper {background: #fff; margin: 0 auto; width: 1200px;}

/* header */
header {display: block; position: relative; margin: 0; padding: 0;}

/* nav */
nav {display: block; position: relative; margin: 5px 0; overflow: hidden; height: 30px;}
nav ul {display: block; position: relative; left: 50%; float: left; height: 30px;}
nav ul li {position: relative; padding: 0 10px; left: -50%; float: left; line-height: 28px;}
nav ul li a {display: block; color: #000; text-decoration: none; padding: 4px 10px}
nav ul li a:hover {background-color: #8B0000; color: #fff;}

/* content */
.content {display: block; position: relative; margin: 30px; overflow: hidden;}
    .about_info {display: block; position: relative; float: left; width: 60%; margin-right: 5%;}
    .about_table {display: block; position: relative; float: right; width: 30%;}
    .about_table td {width: 200px;}

    .rest_info {margin: auto; width: 550px; padding-bottom: 30px;}
/*.rest_info {background-color: #FF9999;}*/
    .rest_info td {width: 220px;}
.about_table tr:nth-child(odd) {background-color: #FF9999;}
.content h1 {font-size: 25px; text-align: center}
.content p {margin: 10px 30px;}
.content .p_ul {margin: 10px 50px;}

.order_form {display: block; position: relative; margin: auto; width: 550px; border: 1px solid #8B0000;}
.order_form h5 {text-align: center; margin: 10px; width: 520px;}
.form_row {display: block; position: relative; overflow: hidden; height: 34px; margin-bottom: 5px;}
.form_row span {display: block; position: relative; float: left; width: 200px; margin-left: 40px; line-height: 34px;}
.form_row select {display: block; position: relative; float: left; width: 300px; height: 30px; margin-right: 10px;}
.form_row option {height: 30px; line-height: 34px; margin-right: 10px;}
.form_row input {display: block; position: relative; float: left; width: 295px; height: 30px; margin-right: 10px;}
.form_row button {display: block; position: relative; width: 100px; height: 30px; margin: auto; cursor: pointer;}

.gallery_wrapper h3 {text-align: center; color: #8B0000;}
.gw_row {margin: 15px 0;}
.gw_row a {margin: 15px;}
.gw_row a img {max-width: 250px;}

.menu_wrapper {width: 750px; margin: auto;}
.menu_wrapper h2 {text-align: center; color: #8B0000; margin-bottom: 20px;}
.menu_item {display: block; position: relative; overflow: hidden; width: 750px; border: 1px solid #8B0000; border-bottom: 0px none;}
.menu_item:last-child {border-bottom: 1px solid #8B0000;}
    .menu_item .mi_left {float: left; width: 470px; margin: 0 30px;}
        .mi_left h3 {margin-top: 10px;}
        .mi_left p {margin: 10px 0;}
    .menu_item .mi_right {float: right; width: 200px; margin-right: 20px; text-align: right;}
        .mi_right h3 {margin-top: 10px;}

/* footer */
footer {display: block; position: relative; overflow: hidden; border: 1px solid #8B0000;}
.footer_wrapper {display: block; position: relative; overflow: hidden;}
.logo {display: block; position: relative; float: left; margin-left: 30px;}
.f_nav {display: block; position: relative; float: right; overflow: hidden; margin: 15px 30px 0 0;}
.f_nav ul {display: block; position: relative; float: left; margin-right: 40px;}
.f_nav ul li {margin-top: 5px;}
footer a {color: #8B0000; text-decoration: none;}
footer a:hover {text-decoration: underline;}
.copyright {display: block; position: relative; text-align: center; color: #8B0000; margin: 10px 0;}